@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-1 .mbr-section-lead SPAN {
  font-size: 16px;
}
#header1-1 .mbr-section-lead {
  font-size: 16px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}
#header1-1 .mbr-section-title {
  color: #000000;
  font-size: 80px;
}
#header1-1 .mbr-section-title SPAN {
  color: #000000;
}
#ext_menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-j .navbar-caption {
  color: #ffffff;
}
#ext_menu-j .navbar-toggler {
  color: #efefef;
}
#ext_menu-j .close-icon::before,
#ext_menu-j .close-icon::after {
  background-color: #efefef;
}
#ext_menu-j .link,
#ext_menu-j .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-j .link {
  font-size: 0.75rem;
}
#ext_menu-j .dropdown-item,
#ext_menu-j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-j .link:hover,
#ext_menu-j .dropdown-item:hover,
#ext_menu-j .link:focus,
#ext_menu-j .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-menu {
  background: #000000;
}
#ext_menu-j .nav-dropdown-sm .link:focus,
#ext_menu-j .nav-dropdown-sm .link:hover,
#ext_menu-j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-j .navbar,
#ext_menu-j .nav-dropdown-sm,
#ext_menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-j .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-j .bg-color.transparent.opened .link:hover,
#ext_menu-j .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#footer1-2n P {
  color: #cccccc;
  font-size: 12px;
}


#header2-1i H3 {
  color: #000000;
  text-align: left;
}
#header2-1i P {
  color: #000000;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#ext_menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1f .navbar-caption {
  color: #ffffff;
}
#ext_menu-1f .navbar-toggler {
  color: #efefef;
}
#ext_menu-1f .close-icon::before,
#ext_menu-1f .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1f .link,
#ext_menu-1f .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-1f .link {
  font-size: 0.75rem;
}
#ext_menu-1f .dropdown-item,
#ext_menu-1f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1f .link:hover,
#ext_menu-1f .dropdown-item:hover,
#ext_menu-1f .link:focus,
#ext_menu-1f .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-1f .link[aria-expanded="true"],
#ext_menu-1f .dropdown-menu {
  background: #000000;
}
#ext_menu-1f .nav-dropdown-sm .link:focus,
#ext_menu-1f .nav-dropdown-sm .link:hover,
#ext_menu-1f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1f .navbar,
#ext_menu-1f .nav-dropdown-sm,
#ext_menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1f .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1f .bg-color.transparent.opened .link:hover,
#ext_menu-1f .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-1f .link[aria-expanded="true"],
#ext_menu-1f .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}




#ext_menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1m .navbar-caption {
  color: #ffffff;
}
#ext_menu-1m .navbar-toggler {
  color: #efefef;
}
#ext_menu-1m .close-icon::before,
#ext_menu-1m .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1m .link,
#ext_menu-1m .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-1m .link {
  font-size: 0.75rem;
}
#ext_menu-1m .dropdown-item,
#ext_menu-1m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1m .link:hover,
#ext_menu-1m .dropdown-item:hover,
#ext_menu-1m .link:focus,
#ext_menu-1m .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-menu {
  background: #000000;
}
#ext_menu-1m .nav-dropdown-sm .link:focus,
#ext_menu-1m .nav-dropdown-sm .link:hover,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1m .navbar,
#ext_menu-1m .nav-dropdown-sm,
#ext_menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1m .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1m .bg-color.transparent.opened .link:hover,
#ext_menu-1m .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#features3-1n H4 {
  font-size: 18px;
  color: #000000;
}
#features3-1n H5 {
  font-family: 'Montserrat', sans-serif;
}
#features3-1n P {
  color: #000000;
  font-family: 'Raleway', sans-serif;
}
#features3-1n SPAN {
  font-family: 'Raleway', sans-serif;
  color: #232323;
  font-size: 15px;
}


#ext_menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-24 .navbar-caption {
  color: #ffffff;
}
#ext_menu-24 .navbar-toggler {
  color: #efefef;
}
#ext_menu-24 .close-icon::before,
#ext_menu-24 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-24 .link,
#ext_menu-24 .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-24 .link {
  font-size: 0.75rem;
}
#ext_menu-24 .dropdown-item,
#ext_menu-24 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-24 .link:hover,
#ext_menu-24 .dropdown-item:hover,
#ext_menu-24 .link:focus,
#ext_menu-24 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-menu {
  background: #000000;
}
#ext_menu-24 .nav-dropdown-sm .link:focus,
#ext_menu-24 .nav-dropdown-sm .link:hover,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-24 .navbar,
#ext_menu-24 .nav-dropdown-sm,
#ext_menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-24 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-24 .bg-color.transparent.opened .link:hover,
#ext_menu-24 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header5-25 .mbr-section-title {
  color: #000;
  font-size: 60px;
}
#header5-25 .mbr-section-lead {
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-25 .mbr-section-lead SPAN {
  font-size: 16px;
}

#ext_menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1s .navbar-caption {
  color: #ffffff;
}
#ext_menu-1s .navbar-toggler {
  color: #efefef;
}
#ext_menu-1s .close-icon::before,
#ext_menu-1s .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1s .link,
#ext_menu-1s .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-1s .link {
  font-size: 0.75rem;
}
#ext_menu-1s .dropdown-item,
#ext_menu-1s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1s .link:hover,
#ext_menu-1s .dropdown-item:hover,
#ext_menu-1s .link:focus,
#ext_menu-1s .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-1s .link[aria-expanded="true"],
#ext_menu-1s .dropdown-menu {
  background: #000000;
}
#ext_menu-1s .nav-dropdown-sm .link:focus,
#ext_menu-1s .nav-dropdown-sm .link:hover,
#ext_menu-1s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1s .navbar,
#ext_menu-1s .nav-dropdown-sm,
#ext_menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1s .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1s .bg-color.transparent.opened .link:hover,
#ext_menu-1s .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-1s .link[aria-expanded="true"],
#ext_menu-1s .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}

#ext_menu-2j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2j .navbar-caption {
  color: #ffffff;
}
#ext_menu-2j .navbar-toggler {
  color: #efefef;
}
#ext_menu-2j .close-icon::before,
#ext_menu-2j .close-icon::after {
  background-color: #efefef;
}
#ext_menu-2j .link,
#ext_menu-2j .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-2j .link {
  font-size: 0.75rem;
}
#ext_menu-2j .dropdown-item,
#ext_menu-2j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2j .link:hover,
#ext_menu-2j .dropdown-item:hover,
#ext_menu-2j .link:focus,
#ext_menu-2j .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-menu {
  background: #000000;
}
#ext_menu-2j .nav-dropdown-sm .link:focus,
#ext_menu-2j .nav-dropdown-sm .link:hover,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-2j .navbar,
#ext_menu-2j .nav-dropdown-sm,
#ext_menu-2j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-2j .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-2j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2j .bg-color.transparent.opened .link:hover,
#ext_menu-2j .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-2m .mbr-section-title,
#msg-box8-2m p {
  color: #fff;
}










#features7-5w .card-subtitle {
  color: #bcbcbc;
}
#features7-5w .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-5w P {
  color: #000000;
}
#features7-5w H4 {
  color: #000000;
}
#header3-3z .mbr-section-title,
#header3-3z .mbr-section-subtitle {
  text-align: center;
}
#header3-3z H3 {
  color: #000000;
  font-size: 32px;
  text-align: right;
}
#header3-3z B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-3z SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-3z SPAN {
  font-size: 30px;
  color: #000000;
  text-align: left;
}
#header3-3z P {
  font-size: 48px;
}
#features7-40 .card-subtitle {
  color: #bcbcbc;
}
#features7-40 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-40 P {
  color: #000000;
}
#features7-40 H4 {
  color: #000000;
}
#msg-box1-9o .btn {
  font-size: 13px;
}
#features7-9n .card-subtitle {
  color: #bcbcbc;
}
#features7-9n .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-9n P {
  color: #000000;
}
#features7-9n H4 {
  color: #000000;
}
#header3-41 .mbr-section-title,
#header3-41 .mbr-section-subtitle {
  text-align: center;
}
#header3-41 H3 {
  color: #000000;
  font-size: 32px;
}
#header3-41 B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-41 SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-41 SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-42 .card-subtitle {
  color: #bcbcbc;
}
#features7-42 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-42 P {
  color: #000000;
}
#features7-42 H4 {
  color: #000000;
}
#msg-box6-4l .mbr-section-title,
#msg-box6-4l .lead p {
  color: #fff;
}
#features7-9p .card-subtitle {
  color: #bcbcbc;
}
#features7-9p .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-9p P {
  color: #000000;
}
#features7-9p H4 {
  color: #000000;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#header3-43 H3 {
  color: #000000;
  font-size: 32px;
  text-align: right;
}
#header3-43 B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-43 SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-43 SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-44 .card-subtitle {
  color: #bcbcbc;
}
#features7-44 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-44 P {
  color: #000000;
}
#features7-44 H4 {
  color: #000000;
}
#msg-box6-4m .mbr-section-title,
#msg-box6-4m .lead p {
  color: #fff;
}
#features7-46 .card-subtitle {
  color: #bcbcbc;
}
#features7-46 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-46 P {
  color: #000000;
}
#features7-46 H4 {
  color: #000000;
}
#header3-45 .mbr-section-title,
#header3-45 .mbr-section-subtitle {
  text-align: center;
}
#header3-45 H3 {
  color: #000000;
  font-size: 32px;
  text-align: right;
}
#header3-45 B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-45 SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-45 SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-9q .card-subtitle {
  color: #bcbcbc;
}
#features7-9q .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-9q P {
  color: #000000;
}
#features7-9q H4 {
  color: #000000;
}
#ext_menu-4g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4g .navbar-caption {
  color: #ffffff;
}
#ext_menu-4g .navbar-toggler {
  color: #efefef;
}
#ext_menu-4g .close-icon::before,
#ext_menu-4g .close-icon::after {
  background-color: #efefef;
}
#ext_menu-4g .link,
#ext_menu-4g .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-4g .link {
  font-size: 0.75rem;
}
#ext_menu-4g .dropdown-item,
#ext_menu-4g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4g .link:hover,
#ext_menu-4g .dropdown-item:hover,
#ext_menu-4g .link:focus,
#ext_menu-4g .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-menu {
  background: #000000;
}
#ext_menu-4g .nav-dropdown-sm .link:focus,
#ext_menu-4g .nav-dropdown-sm .link:hover,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-4g .navbar,
#ext_menu-4g .nav-dropdown-sm,
#ext_menu-4g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4g .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-4g .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-4g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4g .bg-color.transparent.opened .link:hover,
#ext_menu-4g .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box6-4o .mbr-section-title,
#msg-box6-4o .lead p {
  color: #fff;
}
#msg-box1-a0 H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-a0 SPAN {
  text-align: right;
}
#msg-box1-4p .btn {
  font-size: 13px;
}









#msg-box1-4x .btn {
  font-size: 13px;
}
#features7-5x .card-subtitle {
  color: #bcbcbc;
}
#features7-5x .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-5x P {
  color: #000000;
}
#features7-5x H4 {
  color: #000000;
}
#header3-4z .mbr-section-title,
#header3-4z .mbr-section-subtitle {
  text-align: center;
}
#header3-4z H3 {
  color: #000000;
  font-size: 48px;
  text-align: right;
}
#header3-4z B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-4z SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-4z SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-50 .card-subtitle {
  color: #bcbcbc;
}
#features7-50 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-50 P {
  color: #000000;
}
#features7-50 H4 {
  color: #000000;
}
#msg-box1-9r .btn {
  font-size: 13px;
}
#header3-51 .mbr-section-title,
#header3-51 .mbr-section-subtitle {
  text-align: center;
}
#header3-51 H3 {
  color: #000000;
  font-size: 32px;
  text-align: right;
}
#header3-51 B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-51 SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-51 SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-52 .card-subtitle {
  color: #bcbcbc;
}
#features7-52 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-52 P {
  color: #000000;
}
#features7-52 H4 {
  color: #000000;
}
#msg-box6-5b .mbr-section-title,
#msg-box6-5b .lead p {
  color: #fff;
}
#header3-53 .mbr-section-title,
#header3-53 .mbr-section-subtitle {
  text-align: center;
}
#header3-53 H3 {
  color: #000000;
  font-size: 32px;
  text-align: right;
}
#header3-53 B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-53 SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-53 SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-54 .card-subtitle {
  color: #bcbcbc;
}
#features7-54 .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-54 P {
  color: #000000;
}
#features7-54 H4 {
  color: #000000;
}
#ext_menu-55 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-55 .navbar-caption {
  color: #ffffff;
}
#ext_menu-55 .navbar-toggler {
  color: #efefef;
}
#ext_menu-55 .close-icon::before,
#ext_menu-55 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-55 .link,
#ext_menu-55 .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-55 .link {
  font-size: 0.75rem;
}
#ext_menu-55 .dropdown-item,
#ext_menu-55 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-55 .link:hover,
#ext_menu-55 .dropdown-item:hover,
#ext_menu-55 .link:focus,
#ext_menu-55 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-menu {
  background: #000000;
}
#ext_menu-55 .nav-dropdown-sm .link:focus,
#ext_menu-55 .nav-dropdown-sm .link:hover,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-55 .navbar,
#ext_menu-55 .nav-dropdown-sm,
#ext_menu-55 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-55 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-55 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-55 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-55 .bg-color.transparent.opened .link:hover,
#ext_menu-55 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box6-5c .mbr-section-title,
#msg-box6-5c .lead p {
  color: #fff;
}
#msg-box1-9z H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-5d .btn {
  font-size: 13px;
}
#msg-box1-5d SPAN {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}




#header2-1x H3 {
  color: #000000;
  text-align: left;
}
#header2-1x P {
  color: #000000;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#header2-1x SPAN {
  font-size: 36px;
}
#content6-30 P {
  color: #000000;
  font-size: 16px;
  text-align: right;
}
#content1-2x P {
  color: #000000;
  font-size: 16px;
}
#msg-box1-3q .btn {
  font-size: 13px;
}
#header2-1y H3 {
  color: #000000;
  text-align: left;
}
#header2-1y P {
  color: #000000;
  text-align: left;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#content1-3h P {
  color: #000000;
  font-size: 16px;
}
#msg-box1-4q .btn {
  font-size: 13px;
}
#ext_menu-1a .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1a .navbar-caption {
  color: #ffffff;
}
#ext_menu-1a .navbar-toggler {
  color: #efefef;
}
#ext_menu-1a .close-icon::before,
#ext_menu-1a .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1a .link,
#ext_menu-1a .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-1a .link {
  font-size: 0.75rem;
}
#ext_menu-1a .dropdown-item,
#ext_menu-1a .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1a .link:hover,
#ext_menu-1a .dropdown-item:hover,
#ext_menu-1a .link:focus,
#ext_menu-1a .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-1a .link[aria-expanded="true"],
#ext_menu-1a .dropdown-menu {
  background: #000000;
}
#ext_menu-1a .nav-dropdown-sm .link:focus,
#ext_menu-1a .nav-dropdown-sm .link:hover,
#ext_menu-1a .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1a .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1a .navbar,
#ext_menu-1a .nav-dropdown-sm,
#ext_menu-1a .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1a .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1a .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1a .bg-color.transparent.opened .link:hover,
#ext_menu-1a .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-1a .link[aria-expanded="true"],
#ext_menu-1a .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header5-5g .mbr-section-title {
  color: #000;
  font-size: 48px;
}
#header5-5g .mbr-section-lead {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#header5-5g .btn {
  font-size: 13px;
}




#msg-box1-5i .btn {
  font-size: 13px;
}
#features7-5k .card-subtitle {
  color: #bcbcbc;
}
#features7-5k .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-5k P {
  color: #000000;
}
#features7-5k H4 {
  color: #000000;
}
#header3-5j .mbr-section-title,
#header3-5j .mbr-section-subtitle {
  text-align: center;
}
#header3-5j H3 {
  color: #000000;
  font-size: 48px;
  text-align: right;
}
#header3-5j B {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-5j SMALL {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-5j SPAN {
  font-size: 32px;
  color: #000000;
}
#features7-5m .card-subtitle {
  color: #bcbcbc;
}
#features7-5m .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-5m P {
  color: #000000;
}
#features7-5m H4 {
  color: #000000;
}
#features7-5p .card-subtitle {
  color: #bcbcbc;
}
#features7-5p .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-5p P {
  color: #000000;
}
#features7-5p H4 {
  color: #000000;
}
#ext_menu-5q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5q .navbar-caption {
  color: #ffffff;
}
#ext_menu-5q .navbar-toggler {
  color: #efefef;
}
#ext_menu-5q .close-icon::before,
#ext_menu-5q .close-icon::after {
  background-color: #efefef;
}
#ext_menu-5q .link,
#ext_menu-5q .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-5q .link {
  font-size: 0.75rem;
}
#ext_menu-5q .dropdown-item,
#ext_menu-5q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-5q .link:hover,
#ext_menu-5q .dropdown-item:hover,
#ext_menu-5q .link:focus,
#ext_menu-5q .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-5q .link[aria-expanded="true"],
#ext_menu-5q .dropdown-menu {
  background: #000000;
}
#ext_menu-5q .nav-dropdown-sm .link:focus,
#ext_menu-5q .nav-dropdown-sm .link:hover,
#ext_menu-5q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5q .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-5q .navbar,
#ext_menu-5q .nav-dropdown-sm,
#ext_menu-5q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5q .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-5q .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-5q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5q .bg-color.transparent.opened .link:hover,
#ext_menu-5q .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-5q .link[aria-expanded="true"],
#ext_menu-5q .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header2-5t H3 {
  color: #000000;
}
#header2-5t P {
  color: #000000;
  font-size: 16px;
}
#header2-5u H3 {
  color: #000000;
}
#header2-5u P {
  color: #000000;
  font-size: 16px;
}
#header2-5v H3 {
  color: #000000;
}
#header2-5v P {
  color: #000000;
  font-size: 16px;
}
#msg-box1-a3 H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-a3 SPAN {
  text-align: right;
}
#msg-box1-a2 .btn {
  font-size: 13px;
}

#ext_menu-6k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6k .navbar-caption {
  color: #ffffff;
}
#ext_menu-6k .navbar-toggler {
  color: #efefef;
}
#ext_menu-6k .close-icon::before,
#ext_menu-6k .close-icon::after {
  background-color: #efefef;
}
#ext_menu-6k .link,
#ext_menu-6k .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-6k .link {
  font-size: 0.75rem;
}
#ext_menu-6k .dropdown-item,
#ext_menu-6k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6k .link:hover,
#ext_menu-6k .dropdown-item:hover,
#ext_menu-6k .link:focus,
#ext_menu-6k .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-6k .link[aria-expanded="true"],
#ext_menu-6k .dropdown-menu {
  background: #000000;
}
#ext_menu-6k .nav-dropdown-sm .link:focus,
#ext_menu-6k .nav-dropdown-sm .link:hover,
#ext_menu-6k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-6k .navbar,
#ext_menu-6k .nav-dropdown-sm,
#ext_menu-6k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-6k .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-6k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6k .bg-color.transparent.opened .link:hover,
#ext_menu-6k .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-6k .link[aria-expanded="true"],
#ext_menu-6k .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-6n .mbr-section-title,
#msg-box8-6n p {
  color: #fff;
}

#ext_menu-6o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6o .navbar-caption {
  color: #ffffff;
}
#ext_menu-6o .navbar-toggler {
  color: #efefef;
}
#ext_menu-6o .close-icon::before,
#ext_menu-6o .close-icon::after {
  background-color: #efefef;
}
#ext_menu-6o .link,
#ext_menu-6o .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-6o .link {
  font-size: 0.75rem;
}
#ext_menu-6o .dropdown-item,
#ext_menu-6o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6o .link:hover,
#ext_menu-6o .dropdown-item:hover,
#ext_menu-6o .link:focus,
#ext_menu-6o .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-6o .link[aria-expanded="true"],
#ext_menu-6o .dropdown-menu {
  background: #000000;
}
#ext_menu-6o .nav-dropdown-sm .link:focus,
#ext_menu-6o .nav-dropdown-sm .link:hover,
#ext_menu-6o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6o .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-6o .navbar,
#ext_menu-6o .nav-dropdown-sm,
#ext_menu-6o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6o .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-6o .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-6o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6o .bg-color.transparent.opened .link:hover,
#ext_menu-6o .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-6o .link[aria-expanded="true"],
#ext_menu-6o .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-6r .mbr-section-title,
#msg-box8-6r p {
  color: #fff;
}

#ext_menu-6s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6s .navbar-caption {
  color: #ffffff;
}
#ext_menu-6s .navbar-toggler {
  color: #efefef;
}
#ext_menu-6s .close-icon::before,
#ext_menu-6s .close-icon::after {
  background-color: #efefef;
}
#ext_menu-6s .link,
#ext_menu-6s .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-6s .link {
  font-size: 0.75rem;
}
#ext_menu-6s .dropdown-item,
#ext_menu-6s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6s .link:hover,
#ext_menu-6s .dropdown-item:hover,
#ext_menu-6s .link:focus,
#ext_menu-6s .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-6s .link[aria-expanded="true"],
#ext_menu-6s .dropdown-menu {
  background: #000000;
}
#ext_menu-6s .nav-dropdown-sm .link:focus,
#ext_menu-6s .nav-dropdown-sm .link:hover,
#ext_menu-6s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6s .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-6s .navbar,
#ext_menu-6s .nav-dropdown-sm,
#ext_menu-6s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6s .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-6s .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-6s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6s .bg-color.transparent.opened .link:hover,
#ext_menu-6s .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-6s .link[aria-expanded="true"],
#ext_menu-6s .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-6v .mbr-section-title,
#msg-box8-6v p {
  color: #fff;
}

#ext_menu-6w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6w .navbar-caption {
  color: #ffffff;
}
#ext_menu-6w .navbar-toggler {
  color: #efefef;
}
#ext_menu-6w .close-icon::before,
#ext_menu-6w .close-icon::after {
  background-color: #efefef;
}
#ext_menu-6w .link,
#ext_menu-6w .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-6w .link {
  font-size: 0.75rem;
}
#ext_menu-6w .dropdown-item,
#ext_menu-6w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6w .link:hover,
#ext_menu-6w .dropdown-item:hover,
#ext_menu-6w .link:focus,
#ext_menu-6w .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-6w .link[aria-expanded="true"],
#ext_menu-6w .dropdown-menu {
  background: #000000;
}
#ext_menu-6w .nav-dropdown-sm .link:focus,
#ext_menu-6w .nav-dropdown-sm .link:hover,
#ext_menu-6w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6w .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-6w .navbar,
#ext_menu-6w .nav-dropdown-sm,
#ext_menu-6w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6w .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-6w .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-6w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6w .bg-color.transparent.opened .link:hover,
#ext_menu-6w .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-6w .link[aria-expanded="true"],
#ext_menu-6w .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box8-6z .mbr-section-title,
#msg-box8-6z p {
  color: #fff;
}



#msg-box1-77 .btn {
  font-size: 13px;
}
#header5-78 .mbr-section-title {
  color: #000000;
  font-size: 48px;
}
#header5-78 .mbr-section-lead {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-ab H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-ab SPAN {
  text-align: right;
}
#msg-box1-aa .btn {
  font-size: 13px;
}
#ext_menu-7h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7h .navbar-caption {
  color: #ffffff;
}
#ext_menu-7h .navbar-toggler {
  color: #efefef;
}
#ext_menu-7h .close-icon::before,
#ext_menu-7h .close-icon::after {
  background-color: #efefef;
}
#ext_menu-7h .link,
#ext_menu-7h .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-7h .link {
  font-size: 0.75rem;
}
#ext_menu-7h .dropdown-item,
#ext_menu-7h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7h .link:hover,
#ext_menu-7h .dropdown-item:hover,
#ext_menu-7h .link:focus,
#ext_menu-7h .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-7h .link[aria-expanded="true"],
#ext_menu-7h .dropdown-menu {
  background: #000000;
}
#ext_menu-7h .nav-dropdown-sm .link:focus,
#ext_menu-7h .nav-dropdown-sm .link:hover,
#ext_menu-7h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7h .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-7h .navbar,
#ext_menu-7h .nav-dropdown-sm,
#ext_menu-7h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7h .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-7h .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-7h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7h .bg-color.transparent.opened .link:hover,
#ext_menu-7h .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-7h .link[aria-expanded="true"],
#ext_menu-7h .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}



#header5-60 .mbr-section-title {
  color: #000;
}
#header5-60 .mbr-section-lead {
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-60 .mbr-section-title P {
  font-size: 48px;
}
#header2-68 H3 {
  color: #000000;
  font-size: 30px;
}
#msg-box1-a5 H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-a5 SPAN {
  text-align: right;
}
#msg-box1-a4 .btn {
  font-size: 13px;
}
#ext_menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1p .navbar-caption {
  color: #ffffff;
}
#ext_menu-1p .navbar-toggler {
  color: #efefef;
}
#ext_menu-1p .close-icon::before,
#ext_menu-1p .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1p .link,
#ext_menu-1p .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-1p .link {
  font-size: 0.75rem;
}
#ext_menu-1p .dropdown-item,
#ext_menu-1p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1p .link:hover,
#ext_menu-1p .dropdown-item:hover,
#ext_menu-1p .link:focus,
#ext_menu-1p .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-menu {
  background: #000000;
}
#ext_menu-1p .nav-dropdown-sm .link:focus,
#ext_menu-1p .nav-dropdown-sm .link:hover,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1p .navbar,
#ext_menu-1p .nav-dropdown-sm,
#ext_menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1p .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1p .bg-color.transparent.opened .link:hover,
#ext_menu-1p .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}


#msg-box1-7n .btn {
  font-size: 13px;
}
#header5-7v .mbr-section-title {
  color: #000;
  font-size: 48px;
}
#header5-7v .mbr-section-lead {
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-7v .btn {
  font-size: 13px;
}
#ext_menu-7x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7x .navbar-caption {
  color: #ffffff;
}
#ext_menu-7x .navbar-toggler {
  color: #efefef;
}
#ext_menu-7x .close-icon::before,
#ext_menu-7x .close-icon::after {
  background-color: #efefef;
}
#ext_menu-7x .link,
#ext_menu-7x .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-7x .link {
  font-size: 0.75rem;
}
#ext_menu-7x .dropdown-item,
#ext_menu-7x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7x .link:hover,
#ext_menu-7x .dropdown-item:hover,
#ext_menu-7x .link:focus,
#ext_menu-7x .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-7x .link[aria-expanded="true"],
#ext_menu-7x .dropdown-menu {
  background: #000000;
}
#ext_menu-7x .nav-dropdown-sm .link:focus,
#ext_menu-7x .nav-dropdown-sm .link:hover,
#ext_menu-7x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7x .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-7x .navbar,
#ext_menu-7x .nav-dropdown-sm,
#ext_menu-7x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7x .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-7x .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-7x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7x .bg-color.transparent.opened .link:hover,
#ext_menu-7x .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-7x .link[aria-expanded="true"],
#ext_menu-7x .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}




#msg-box1-8a .btn {
  font-size: 13px;
}
#header5-8c .mbr-section-title {
  color: #000;
  font-size: 48px;
}
#header5-8c .mbr-section-lead {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#ext_menu-8d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8d .navbar-caption {
  color: #ffffff;
}
#ext_menu-8d .navbar-toggler {
  color: #efefef;
}
#ext_menu-8d .close-icon::before,
#ext_menu-8d .close-icon::after {
  background-color: #efefef;
}
#ext_menu-8d .link,
#ext_menu-8d .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-8d .link {
  font-size: 0.75rem;
}
#ext_menu-8d .dropdown-item,
#ext_menu-8d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-8d .link:hover,
#ext_menu-8d .dropdown-item:hover,
#ext_menu-8d .link:focus,
#ext_menu-8d .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-8d .link[aria-expanded="true"],
#ext_menu-8d .dropdown-menu {
  background: #000000;
}
#ext_menu-8d .nav-dropdown-sm .link:focus,
#ext_menu-8d .nav-dropdown-sm .link:hover,
#ext_menu-8d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-8d .navbar,
#ext_menu-8d .nav-dropdown-sm,
#ext_menu-8d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-8d .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-8d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8d .bg-color.transparent.opened .link:hover,
#ext_menu-8d .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-8d .link[aria-expanded="true"],
#ext_menu-8d .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#features3-8e H4 {
  font-size: 18px;
  color: #000000;
}
#features3-8e P {
  font-family: 'Lora', serif;
}
#features3-8e .btn {
  font-size: 13px;
}
#header5-8k .mbr-section-title {
  color: #000;
  font-size: 48px;
}
#header5-8k .mbr-section-lead {
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header5-8k .btn {
  font-size: 13px;
}





#msg-box1-8l .btn {
  font-size: 13px;
}
#header5-8m .mbr-section-title {
  color: #000;
  font-size: 48px;
}
#header5-8m .mbr-section-lead {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-96 H3 {
  color: #000000;
  font-size: 36px;
}
#ext_menu-8q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8q .navbar-caption {
  color: #ffffff;
}
#ext_menu-8q .navbar-toggler {
  color: #efefef;
}
#ext_menu-8q .close-icon::before,
#ext_menu-8q .close-icon::after {
  background-color: #efefef;
}
#ext_menu-8q .link,
#ext_menu-8q .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-8q .link {
  font-size: 0.75rem;
}
#ext_menu-8q .dropdown-item,
#ext_menu-8q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-8q .link:hover,
#ext_menu-8q .dropdown-item:hover,
#ext_menu-8q .link:focus,
#ext_menu-8q .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-8q .link[aria-expanded="true"],
#ext_menu-8q .dropdown-menu {
  background: #000000;
}
#ext_menu-8q .nav-dropdown-sm .link:focus,
#ext_menu-8q .nav-dropdown-sm .link:hover,
#ext_menu-8q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8q .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-8q .navbar,
#ext_menu-8q .nav-dropdown-sm,
#ext_menu-8q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8q .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-8q .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-8q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8q .bg-color.transparent.opened .link:hover,
#ext_menu-8q .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-8q .link[aria-expanded="true"],
#ext_menu-8q .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box1-97 H3 {
  color: #000000;
  font-size: 36px;
}
#msg-box1-98 H3 {
  color: #000000;
  font-size: 36px;
}
#msg-box1-99 H3 {
  color: #000000;
  font-size: 36px;
}
#msg-box1-9a H3 {
  color: #000000;
  font-size: 36px;
}
#msg-box1-9b H3 {
  color: #000000;
  font-size: 36px;
}
#header5-9c .mbr-section-title {
  color: #000000;
  text-align: right;
  font-size: 48px;
}
#header5-9c .mbr-section-lead {
  color: #000000;
  font-size: 16px;
}
#header5-9c .mbr-section-lead SPAN {
  font-family: 'Raleway', sans-serif;
}
#msg-box1-a9 H2 {
  color: #000000;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box1-a9 SPAN {
  text-align: right;
}
#msg-box1-9i .btn {
  font-size: 13px;
}
#msg-box1-9i H2 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#ext_menu-9k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9k .navbar-caption {
  color: #ffffff;
}
#ext_menu-9k .navbar-toggler {
  color: #efefef;
}
#ext_menu-9k .close-icon::before,
#ext_menu-9k .close-icon::after {
  background-color: #efefef;
}
#ext_menu-9k .link,
#ext_menu-9k .dropdown-item {
  color: #efefef;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-9k .link {
  font-size: 0.75rem;
}
#ext_menu-9k .dropdown-item,
#ext_menu-9k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-9k .link:hover,
#ext_menu-9k .dropdown-item:hover,
#ext_menu-9k .link:focus,
#ext_menu-9k .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-9k .link[aria-expanded="true"],
#ext_menu-9k .dropdown-menu {
  background: #000000;
}
#ext_menu-9k .nav-dropdown-sm .link:focus,
#ext_menu-9k .nav-dropdown-sm .link:hover,
#ext_menu-9k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-9k .navbar,
#ext_menu-9k .nav-dropdown-sm,
#ext_menu-9k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-9k .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-9k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9k .bg-color.transparent.opened .link:hover,
#ext_menu-9k .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-9k .link[aria-expanded="true"],
#ext_menu-9k .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#msg-box5-9w P {
  color: #000000;
  font-size: 16px;
}
#msg-box5-9w H3 {
  color: #000000;
}
#msg-box5-9y H3 {
  color: #000000;
  text-align: left;
}
#msg-box5-9y P {
  color: #000000;
  font-size: 16px;
  text-align: left;
}
#msg-box5-9y SPAN {
  text-align: left;
}
